*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Nunito', sans-serif;
}
body{
    width: 100vw;
    height: 100vh;
    display: block;
}
li{
    padding: 0 20px;
    width: 100%;
    list-style: none;
}
a{
    display: block;
    text-decoration: none;
}
img{
    object-fit: cover;
}
.space-between{
    justify-content: space-between;
}
header{
    width: 100vw;
    height: 100vh;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    overflow: hidden;
}
header>img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    animation: Inout 5s infinite;
    z-index: -1;
}
@keyframes Inout{
    0%, 100%{
        transform: scale(1);
    }
    50%{
        transform: scale(1.1);
    }
}
header::before{
    width: 100%;
    height: 100%;
    position: absolute;
    content: "";
    display: block;
    background: rgba(0, 0, 0, 0.5);
}
.top{
    position: fixed;
    width: 100vw;
    height: 77px;
    top: 0;
    background-color: transparent;
    z-index: 2;
}
.top::before{
    content: "";
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #F1EEE9;
    transform: translateY(-100%);
    transition: 0.3s;
}
.top.active::before{
    transform: translateY(0);
}
.logo{
    overflow: hidden;
    position: fixed;
    top: -4px;
    left: 2px;
    width: 100px;
    height: 100px;
    display: flex;
    z-index: 8;
}
.logo a img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.menu-icon{
    width: 50px;
    height: 50px;
    opacity: 1;
    top: 12px;
    right: 12px;
    z-index: 3;
    cursor: pointer;
    position: fixed;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}
.menu-line{
    height: 4px;
    width: 100%;
    background-color: #15133C;
    position: relative;
}
.menu-line::before{
    height: 4px;
    width: 100%;
    background-color: #15133C;
    content: "";
    display: block;
    position: absolute;
    top: -14px;
}
.menu-line::after{
    height: 4px;
    width: 100%;
    background-color: #15133C;
    content: "";
    display: block;
    position: absolute;
    top: 14px;
}
#ticker{
    position: fixed;
    width: 50px;
    height: 50px;
    opacity: 0;
    top: 12px;
    right: 12px;
    z-index: 4;
    cursor: pointer;
}
#ticker:checked ~ .menu-icon .menu-line::before{
    transform: rotate(90deg);
    top: 0;
}
#ticker:checked ~ .menu-icon .menu-line::after{
    transform: rotate(90deg);
    top: 0;
}
#ticker:checked ~ .menu-icon .menu-line{
    transform: rotate(135deg);
    top: 0;
    transition: all 0.5s ease;
}
#ticker:not(:checked) ~ .menu-icon .menu-line{
    transition: 0.5s;
}
.menu-item{
    position: fixed;
    top: 0;
    right: -100%;
    min-width: 250px;
    height: 100vh;
    background-color: #FFD369;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    text-align: center;
    z-index: 3;
}
.search{
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-top: 90px;
    width: 100%;
    height: 100px;
    float: left;
}
.search i{
    background-color: transparent;
    width: 45px;
    padding: 5px;
    color: #15133C;
    position: absolute;
    right: 10px;
    font-size: 25pt;
    border-radius: 10px;
    cursor: pointer;
    padding-left: 15px;
}
.search input{
    display: block;
    position: absolute;
    left: 10px;
    width: 190px;
    outline: none;
    border: none;
    padding: 10px;
    color: #15133C;
    border-radius: 10px;
    border: 2px solid #15133C;
    background-color: transparent;
}

.list-menu{
    width: 100%;
    height: 70%;
    margin-top: 0px;
}
/* .menu-item ul{
    margin-top: 10px;
} */
.menu-item li{
    line-height: 65px;
}
.menu-item li a{
    color: #15133C;
    font-size: 20pt;
}
.menu-item li:hover .subnav{
    display: block
}
li:hover > a{
    background-color: #808080;
}
.subnav li:hover a{
    color: red ;
}
.nav{
    position: relative;
}
.subnav{
    display: none; 
    min-width: 200px;
    position: absolute;
    background-color: #2D4263;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 6;
    top: 0;
    right: 250px;
}
.subnav a{
    color: #FFD24C !important;
    line-height: 50px;
    padding: 0 12px;
}
#ticker:checked ~ .menu-item{
    right: 0;
    transition: 0.5s;
}
#ticker:not(:checked) ~ .menu-item{
    transition: 0.5s;
}
#ticker:checked ~ .menu-icon{
    right: 200px;
    z-index: 9;
    transition: 0.5s;
}
#ticker:not(:checked) ~ .menu-icon{
    transition: 0.5s;
}
#ticker:checked{
    right: 200px;
    z-index: 10;
    transition: 0.5s;
}
#ticker:not(:checked){
    transition: 0.5s;
}
.header-slogan{
    position: absolute;
    /* background-color:rgba(0, 0, 0, 0.3); 
    padding: 20px 20px;
    border-radius: 10px; */
}
/* .header-slogan h1{
    color: #FBBC01;
    font-size: 50pt;
    margin-bottom: 20px;
    text-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
} */
.login{
    border-radius: 10px;
    width: 400px;
    position: relative;
    background-color: #F1EEE9;
    text-align: left;
    flex-grow: 1;
    /* display: none; */
    padding: 10px 30px 30px 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    margin-bottom: 20px;
    opacity: 1;
    z-index: 3;
    transform: translateY(-100vh);
    transition: all 0.4s ease-in-out;
}
.login.active{
    transform: translateY(0);
    opacity: 0.8;
}
.dangki{
    display: none;
    outline: none;
    border: none;
    cursor: pointer;
    padding: 15px 30px;
    border-radius: 50px;
    font-size: 15pt;
    background-color: #FBBC01;
    opacity: 0.3;
    animation: nhapnhay 2s infinite;
}
.dangki:hover{
    background: transparent;
    color: #FBBC01;
    border: 2px solid #FBBC01;
}
.dangki.active{
    margin: 0 auto;
    transform: translateY(-170px);
    display: block;
}
button{
    outline: none;
    border: none;
    cursor: pointer;
}
.form-heading{
    font-size: 35px;
    text-align: center;
    margin-bottom: 25px;
    margin-top: 15px;
}
.form-input{
    background: transparent;
    border: none;
    outline: none;
    font-size: 18px;
}
.form-input::placeholder{
    color: #15133C;
}
.form-group{
    border-bottom: 2px solid black;
    margin-bottom: 25px;
    margin-top: 15px;
}
.form-group i{
    padding-right: 5px;
}
.form-submit{
    border: 2px solid black;
    width: 100%;
    text-transform: uppercase;
    padding: 8px 10px;
    cursor: pointer;
    margin-top: 20px;
    transition: all 0.3s ease;
}
.form-submit:hover{
    background-color: #FFD369;
}
.eye{
    float: right;
}
.eye i{
    color: black;
    padding: 0;
    cursor: pointer;
}
.close{
    position: absolute;
    top: 2px;
    right: 7px;
}
.close i{
    font-size: 40px;
    color: #FF5D5D;
    cursor: pointer;
}
@keyframes nhapnhay{
    0%{
        opacity: 0.3;
    }
    50%{
        opacity: 1;
    }
    100%{
        opacity: 0.3;
    }
}
.about-this{
    width: 100vw;
    background-color: #1F1D36;
    color: white;
}
.padding{
    padding: 15px;
}
.row{
    display: flex;
    flex-wrap: wrap;
}
.section{
    width: 100%;
    text-align: center;
    margin-top: 50px;
}
.title{
    text-align: center;
    width: 100%;
    padding: 6px 0;
    margin-bottom: 30px;
}
.title h2{
    font-size: 40px;
}
.manga-title{
    text-align: center;
    width: 100%;
    padding: 6px 0;
    margin-bottom: 30px;
}
.section h2{
    font-size: 45px;
    display: block;
}
.about-this .about-content img{
    width: 100%;
    height: 100%;
    border-radius: 10px;
}
.about-this .about-content{
    max-width: 50%;
    overflow: hidden;
}
.about-this .about-content p{
    text-align: justify;
}
/* .center{
    justify-content: center;
} */
.about-that{
    width: 100vw;
    background-color: #F1EEE9;
    color: #15133C;
}
.that-btn{
    position: relative;
    margin: 15px;
    background-color: transparent;
    font-size: 25px;
    transition: all 0.5s ease;
}
.that-btn::before{
    content: "";
    display: block;
    position: absolute;
    left: 0;
    bottom: -4px;
    width: 0;
    border-radius: 10px;
    border-bottom: 2px solid #FF5D5D;
    transition: all 0.5s ease;
}
.that-btn.active{
    color: #FBBC01;
}
.that-btn.active::before{
    width: 99%;
}
.items{
    min-width: 33.3333%;
    padding: 20px 15px;
    display: flex;
    align-items: center;
    position: relative;
    flex-wrap: wrap;
    transition: all ease 0.3s;
}
.items::before{
    content: "";
    display: block;
    position: absolute;
    left: 15px;
    right: 15px;
    bottom: 0;
    border-bottom: 1px solid black;
    width: 80%;
    height: 0;
}
.items:hover .img-item p{
    color: #15133C;
}
.items:hover .manga-prince p{
    color: #FBBC01;
}
.img-item{
    display: flex;
    align-items: center;
}
.img-item p{
    margin-left: 25px;
    font-size: 18px;
    color: #FBBC01;
}
.img-item img{
    width: 130px;
    height: 190px;
    border-radius: 10px;
    cursor: pointer;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    transition: all 0.3s ease;
}
.img-item img:hover{
    transform: scale(1.1);
}
.manga-prince{
    margin-left: 25px;
    position: relative;
}
.manga-prince::before{
    content: "|";
    position: absolute;
    left: -12px;
    top: -5px;
    font-size: 25px;
    color: #808080;
}
.manga-prince p{
    font-size: 18px;
    color: #15133C;
    transition: all 0.3s ease-in;
}
.items-content{
    display: none;
}
.items-content.active{
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    transition: all 0.3s ease-in;
}
.footer-item{
    width: 50%;
}
footer{
    border-top: 4px solid #FBBC01;
}
.end{
    width: 100%;
    background-color: #808080;
    text-align: center;
}
.end p{
    color: black;
}
